<html>
<body>
    <div class="container">
        <main class="row mb-4 shadow">
            <div class="col-md-6 text-center">
                <img src="./assets/Space.png" id="main-image">
            </div>
            <div class="col-md-6 my-auto">
                <h1 class="font-weight-bolder"><strong>Una nueva forma de ver el mundo</strong></h1>
                <p>SpaceTime es una red social creada por estudiantes del octavo semestre de Ingenieria en Sistemas 
                    de la Universidad Mariano Gálvez de Guatemala, con el fin de mejorar
                    las habilidades en el desarrollo de páginas web, implementación de
                    Frameworks y nuevas tecnologías.
                </p>
                <h2 class="font-weight-bolder">Inicia Sesión o registrate</h2>
                <a class="btn btn-primary" href="/login" role="button">Empezar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                </a>
            </div>

            <div class="col-md-6 text-center my-auto">
                <h1 class="font-weight-bolder">Crea tu propio Blog</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-chat-right-heart-fill" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2ZM8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                  </svg>
                  <br>

                  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-chat-right-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                  </svg>
                  <p>Puedes editar tu perfil, desde tus datos personales hasta tu foto de perfil.
                 </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="./assets/post.png" id="main-image">
            </div>


            <div class="col-md-6 text-center">
                <img src="./assets/personas.png" id="main-image">
            </div>
            <div class="col-md-6 text-center my-auto">
                
                <h1 class="font-weight-bolder">Interactua de forma fácil con tus amigos y amigas</h1>
                <p>Puedes compartir fotos, pensamientos y experiencias con los demás, también puedes
                    buscar usuarios, visitar y visualizar su perfil.
                 </p>
            </div>
        </main>
    </div>
    <div class="col-md-12 text-center">
        <span>
            © 2022 SpaceTime, Inc.
        </span>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>
