.example-card 
{
    max-width: 400px;
}

.example-header-image 
{
    background-size: cover;
}



.buscar
{
    position: relative;
    padding: 0px;
}

.buscar input
{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 0px solid rgb(136, 133, 133);
    border-radius: 10px;
    transition: all 0.6s ease;
}


.bt
{
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 30%;
    cursor: pointer;
}

.buscar:hover input
{
    width: 240px;
}

.buscar input:focus
{
    width: 240px;
}

.centrar 
{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }


.contenedor-sesion 
{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(205, 205, 219);
    width: 30%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1);
    padding: 20px;
}

.contenedor-sesion .seccion 
{
    width: 100%;
}

.contenedor-sesion .seccion:last-child
{
    padding-left: 15px;
}

.contenedor-sesion .titulo-seccion h5 
{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-top: 0 !important;
}
